Repository DSharpPlus/DSharpPlus, pull requests merged in 2018-07, with the labels that each got.

#313 Updated macOS sections for voice setup
  docs/articles/voice/setup.md
Labels: docs, voicenext

#295 Fixes DefaultHelpChecks not being used.
  DSharpPlus.CommandsNext/CommandsNextExtension.cs
Labels: bug, commandsnext

#315 Account for channel pins update `last_pin_timestamp` can be null
  DSharpPlus/DiscordClient.cs
  DSharpPlus/EventArgs/ChannelPinsUpdateEventArgs.cs
Labels: bug, core

#316 Update LavalinkNodeConnection.cs
  DSharpPlus.Lavalink/LavalinkNodeConnection.cs
Labels: lavalink, new-features

#317 Fix interactivity polling deletes every reaction on every other message
  DSharpPlus.Interactivity/InteractivityExtension.cs
Labels: bug, interactivity

#319 Fix the fix for interactivity polling not actually working
  DSharpPlus.Interactivity/InteractivityExtension.cs
Labels: bug, interactivity

#322 Perform cleanup when starting a Lavalink connection throws
  DSharpPlus.Lavalink/LavalinkExtension.cs
Labels: bug, lavalink

#323 Added descriptions to TrackEndReason
  DSharpPlus.Lavalink/EventArgs/TrackEventArgs.cs
Labels: enhancement, lavalink

#326 Adding Hierachy to DiscordMember
  DSharpPlus/Entities/DiscordMember.cs
Labels: core, enhancement

#325 Support attachments in embeds
  DSharpPlus/Entities/DiscordEmbedAuthor.cs
  DSharpPlus/Entities/DiscordEmbedBuilder.cs
  DSharpPlus/Entities/DiscordEmbedFooter.cs
  DSharpPlus/Entities/DiscordEmbedImage.cs
  DSharpPlus/Entities/DiscordEmbedThumbnail.cs
  DSharpPlus/Entities/DiscordUri.cs
  DSharpPlus/Net/Serialization/DiscordJson.cs
Labels: bug, core, enhancement

#328 Fix typo in xmldoc for DiscordMember.Hierarchy
  DSharpPlus/Entities/DiscordMember.cs
Labels: core
