Repository DSharpPlus/DSharpPlus, pull requests merged in 2018-09, with the labels that each got.

#355 Added support for nsfw to ModifyChannelAsync (2)
  DSharpPlus.Rest/DiscordRestClient.cs
  DSharpPlus/Entities/DiscordChannel.cs
  DSharpPlus/Net/Abstractions/RestChannelPayloads.cs
  DSharpPlus/Net/DiscordApiClient.cs
  DSharpPlus/Net/Models/ChannelEditModel.cs
Labels: core, enhancement

#360 Fix #357 - Added check for REPLACED TrackEndReason
  DSharpPlus.Lavalink/LavalinkGuildConnection.cs
Labels: bug, lavalink

#362 Fixed interactivity's TimeoutBehaviour.Ignore action
  DSharpPlus.Interactivity/InteractivityExtension.cs
Labels: bug, interactivity
