Repository DSharpPlus/DSharpPlus, pull requests merged in 2019-05, with the labels that each got.

#424 Holy shit, it's voice receive.
  DSharpPlus.Test/TestBotVoiceCommands.cs
  DSharpPlus.VoiceNext/Codec/Opus.cs
  DSharpPlus.VoiceNext/EventArgs/VoiceReceiveEventArgs.cs
  DSharpPlus.VoiceNext/VoiceNextConnection.cs
Labels: enhancement, voicenext

#426 Implemented voice kick via ModifyAsync
  DSharpPlus.Rest/DiscordRestClient.cs
  DSharpPlus.Test/TestBotCommands.cs
  DSharpPlus/Entities/DiscordMember.cs
  DSharpPlus/Net/Abstractions/RestGuildPayloads.cs
  DSharpPlus/Net/DiscordApiClient.cs
  DSharpPlus/Net/Models/MemberEditModel.cs
Labels: core, new-features

#427 Fix for #419
  DSharpPlus.Lavalink/LavalinkGuildConnection.cs
  DSharpPlus.Lavalink/LavalinkNodeConnection.cs
Labels: bug, lavalink
