Repository DSharpPlus/DSharpPlus, pull requests merged in 2020-01, with the labels that each got.

#503 Add Write(ReadOnlySpan<byte>) to VoiceTransmitStream
  DSharpPlus.VoiceNext/VoiceTransmitStream.cs
Labels: enhancement, voicenext

#505 Lavalink RoutePlanner support
  DSharpPlus.Lavalink/Entities/LavalinkRouteStatusPayload.cs
  DSharpPlus.Lavalink/LavalinkNodeConnection.cs
  DSharpPlus.Lavalink/LavalinkRoutePlanner.cs
Labels: lavalink, new-features

#502 Implemented support for Lavalink resuming
  DSharpPlus.Lavalink/Entities/LavalinkCommands.cs
  DSharpPlus.Lavalink/Entities/LavalinkPayload.cs
  DSharpPlus.Lavalink/LavalinkConfiguration.cs
  DSharpPlus.Lavalink/LavalinkNodeConnection.cs
Labels: enhancement, lavalink

#507 Ignore GIFT_CODE_UPDATE event
  DSharpPlus/DiscordClient.cs
Labels: core, enhancement

#513 Fixed VoiceNext connect deadlock when missing permissions to use voice channels
  DSharpPlus.VoiceNext/VoiceNextExtension.cs
Labels: bug, voicenext

#514 Adds paginated requests for DiscordMessage#GetReactionsAsync
  DSharpPlus/Entities/DiscordMessage.cs
  DSharpPlus/Net/DiscordApiClient.cs
Labels: bug, core

#515 Update Unicode emoji to Twemoji 12
  DSharpPlus/Entities/DiscordEmoji.EmojiUtils.cs
Labels: core, enhancement

#512 Reworked Lavalink REST Handling
  DSharpPlus.Lavalink/Entities/LavalinkRouteStatus.cs
  DSharpPlus.Lavalink/LavalinkNodeConnection.cs
  DSharpPlus.Lavalink/LavalinkRest.cs
  DSharpPlus.Lavalink/LavalinkRestEndpoints.cs
  DSharpPlus.Lavalink/LavalinkRoutePlanner.cs
  DSharpPlus.Lavalink/LavalinkTrack.cs
  DSharpPlus.Test/TestBotLavaCommands.cs
Labels: lavalink, new-features

#516 Adds missing discord audit logs entries
  DSharpPlus/Entities/DiscordAuditLogObjects.cs
  DSharpPlus/Entities/DiscordGuild.cs
  DSharpPlus/Net/Abstractions/AuditLogAbstractions.cs
Labels: core, new-features

#525 Fixes #524 and removes support for before_id.
  DSharpPlus.Rest/DiscordRestClient.cs
  DSharpPlus/Entities/DiscordMessage.cs
  DSharpPlus/Net/DiscordApiClient.cs
Labels: bug, core
