Repository DSharpPlus/DSharpPlus, pull requests merged in 2021-10, with the labels that each got.

#1105 Make slash command event errors trigger client errored
  DSharpPlus.SlashCommands/SlashCommandsExtension.cs
Labels: enhancement, v4.x, slash-commands

#1104 Fixes 4.1 docs for proper deployment [ci skip]
  docs/articles/advanced_topics/selects.md
  docs/articles/toc.yml
  docs/images/advanced_topics_selects_01.png
  docs/images/advanced_topics_selects_02.png
Labels: bug, docs

#1113 Technical overhaul of the docs
  docs/api/index.md
  docs/articles/advanced_topics/buttons.md
  docs/articles/advanced_topics/selects.md
  docs/articles/audio/lavalink/configuration.md
  docs/articles/audio/lavalink/music_commands.md
  docs/articles/audio/lavalink/setup.md
  docs/articles/audio/voicenext/prerequisites.md
  docs/articles/audio/voicenext/receive.md
  docs/articles/audio/voicenext/transmit.md
  docs/articles/basics/bot_account.md
  docs/articles/basics/first_bot.md
  docs/articles/beyond_basics/events.md
  docs/articles/beyond_basics/intents.md
  docs/articles/beyond_basics/logging/default.md
  docs/articles/beyond_basics/logging/third_party.md
  docs/articles/beyond_basics/messagebuilder.md
  docs/articles/beyond_basics/sharding.md
  docs/articles/commands/argument_converters.md
  docs/articles/commands/command_attributes.md
  docs/articles/commands/command_handler.md
  docs/articles/commands/dependency_injection.md
  docs/articles/commands/help_formatter.md
  docs/articles/commands/intro.md
  docs/articles/hosting.md
  docs/articles/interactivity.md
  docs/articles/migration/2x_to_3x.md
  docs/articles/migration/3x_to_4x.md
  docs/articles/migration/dsharp.md
  docs/articles/misc/debug_symbols.md
  docs/articles/misc/nightly_builds.md
  docs/articles/misc/reporting_issues.md
  docs/articles/preamble.md
  docs/articles/toc.yml
  docs/docfx.json
  docs/faq.md
  docs/index.md
  docs/langword_mapping.yml
  docs/toc.yml
Labels: enhancement, docs, v4.x

#1112 Implement default parser culture for CNext
  DSharpPlus.CommandsNext/CommandsNextConfiguration.cs
  DSharpPlus.CommandsNext/CommandsNextExtension.cs
  DSharpPlus.CommandsNext/Converters/EnumConverter.cs
  DSharpPlus.CommandsNext/Converters/NumericConverters.cs
  DSharpPlus.CommandsNext/Converters/TimeConverters.cs
  DSharpPlus.Test/TestBot.cs
  DSharpPlus.Test/TestBotCommands.cs
Labels: enhancement, commandsnext, v4.x

#1114 Implement ability to control how are commands executed in CNext
  DSharpPlus.CommandsNext/CommandsNextConfiguration.cs
  DSharpPlus.CommandsNext/CommandsNextExtension.cs
  DSharpPlus.CommandsNext/Executors/AsynchronousCommandExecutor.cs
  DSharpPlus.CommandsNext/Executors/ICommandExecutor.cs
  DSharpPlus.CommandsNext/Executors/ParallelQueuedCommandExecutor.cs
  DSharpPlus.CommandsNext/Executors/SynchronousCommandExecutor.cs
  DSharpPlus.Test/TestBot.cs
  DSharpPlus.Test/TestBotCommands.cs
  DSharpPlus/DSharpPlus.csproj
Labels: commandsnext, new-features, v4.x

#1101 Add overload for registering slash commands from Assembly
  DSharpPlus.SlashCommands/SlashCommandsExtension.cs
Labels: enhancement, v4.x, slash-commands

#1103 Fix: Thread permission checks
  DSharpPlus/Entities/Channel/DiscordChannel.cs
Labels: bug, commandsnext, core, v4.x

#1107 Add support for autocomplete in slash commands
  DSharpPlus.SlashCommands/Attributes/AutocompleteAttribute.cs
  DSharpPlus.SlashCommands/Attributes/OptionAttribute.cs
  DSharpPlus.SlashCommands/Built-in Checks/ContextMenuCheckBaseAttribute.cs
  DSharpPlus.SlashCommands/Built-in Checks/SlashCheckBaseAttribute.cs
  DSharpPlus.SlashCommands/Contexts/AutocompleteContext.cs
  DSharpPlus.SlashCommands/EventArgs/AutocompleteErrorEventArgs.cs
  DSharpPlus.SlashCommands/EventArgs/AutocompleteExecutedEventArgs.cs
  DSharpPlus.SlashCommands/IAutocompleteProvider.cs
  DSharpPlus.SlashCommands/SlashCommandsExtension.cs
Labels: new-features, v4.x, slash-commands

#1106 Add parameter on GetUserAsync to force rest requests to get banners
  DSharpPlus/Clients/DiscordClient.cs
Labels: bug, enhancement, core, v4.x
