Repository DSharpPlus/DSharpPlus, pull requests merged in 2023-03, with the labels that each got.

#1485 Implement IP discovery fix in VNext.
  DSharpPlus.Test/TestBot.cs
  DSharpPlus.VoiceNext/VoiceNextConnection.cs
Labels: bug, voicenext, v4.x

#1488 [ci skip] Generic Host Docs Article
  docs/articles/advanced_topics/generic_host.md
  docs/articles/toc.yml
Labels: enhancement, docs, v4.x

#1491 Update actions to include symbols and update `debug_symbols.md`
  .github/workflows/publish_nightly_master.yml
  .github/workflows/publish_release_master.yml
  docs/articles/misc/debug_symbols.md
Labels: enhancement, docs, v4.x

#1501 Fix broken XML tags
  DSharpPlus.Rest/DiscordRestClient.cs
  DSharpPlus/Entities/BaseDiscordMessageBuilder.cs
  DSharpPlus/Entities/Channel/Thread/Forum/DiscordForumTag.cs
Labels: enhancement, core, docs, v4.x

#1508 update concurrenthashset
  DSharpPlus.Interactivity/DSharpPlus.Interactivity.csproj
  DSharpPlus.Interactivity/EventHandling/ComponentBased/ComponentPaginator.cs
  DSharpPlus.Interactivity/InteractivityConfiguration.cs
  DSharpPlus.Test/PaginationTest.cs
  DSharpPlus.Test/TestBot.cs
Labels: interactivity, v4.x

#1504 Add DI to `IAutocompleteProvider`
  DSharpPlus.SlashCommands/SlashCommandsExtension.cs
Labels: enhancement, v4.x, slash-commands

#1519 Fix incorrect link in FAQ
  docs/faq.md
Labels: enhancement, commandsnext, docs, v4.x

#1520 Removed outdated portion of events article.
  docs/articles/beyond_basics/events.md
Labels: enhancement, docs, v4.x

#1521 Send raw events
  DSharpPlus.Lavalink/LavalinkGuildConnection.cs
  DSharpPlus.Lavalink/LavalinkNodeConnection.cs
  DSharpPlus.VoiceNext/VoiceNextExtension.cs
  DSharpPlus/Clients/DiscordClient.WebSocket.cs
  DSharpPlus/Entities/Guild/DiscordGuild.cs
  DSharpPlus/Net/Abstractions/Gateway/GatewayOpCode.cs
Labels: enhancement, core, big-change, v4.x

#1511 Enforce IDisposable for Extensions to ensure proper cleanup when the Client itself disposes.
  DSharpPlus.CommandsNext/CommandsNextExtension.cs
  DSharpPlus.Interactivity/InteractivityExtension.cs
  DSharpPlus.Lavalink/LavalinkExtension.cs
  DSharpPlus.SlashCommands/SlashCommandsExtension.cs
  DSharpPlus.VoiceNext/VoiceNextExtension.cs
  DSharpPlus/BaseExtension.cs
Labels: enhancement, core

#1523 document new event behaviour and explain how to update
  docs/articles/beyond_basics/events.md
Labels: docs, v4.x
