Repository DSharpPlus/DSharpPlus, pull requests merged in 2023-02, with the labels that each got.

#1358 Fix #1357
  DSharpPlus.Interactivity/Enums/ButtonDisableBehavior.cs
  DSharpPlus.Interactivity/Enums/PaginationButtonType.cs
  DSharpPlus.Interactivity/InteractivityExtension.cs
Labels: enhancement, interactivity, v4.x

#1482 [ci skip] modernize docs
  docs/articles/basics/first_bot.md
  docs/articles/beyond_basics/events.md
  docs/articles/beyond_basics/messagebuilder.md
  docs/articles/commands/command_attributes.md
  docs/articles/commands/dependency_injection.md
  docs/articles/commands/intro.md
  docs/articles/misc/nightly_builds.md
  docs/articles/misc/reporting_issues.md
  docs/articles/preamble.md
  docs/faq.md
Labels: enhancement, docs, v4.x

#1483 [ci skip] fix docs spacing
  docs/articles/beyond_basics/events.md
  docs/articles/commands/command_attributes.md
  docs/articles/commands/dependency_injection.md
  docs/articles/migration/3x_to_4x.md
Labels: docs

#1484 Added `OrderedChannels` property
  DSharpPlus/Entities/Guild/DiscordGuild.cs
Labels: enhancement, core, new-features, v4.x
