Repository DSharpPlus/DSharpPlus, pull requests merged in 2024-03, with the labels that each got.

#1789 fix some xmldocs
  DSharpPlus.Rest/DiscordRestClient.cs
  DSharpPlus/Clients/BaseDiscordClient.cs
  DSharpPlus/Clients/DiscordWebhookClient.cs
  DSharpPlus/Entities/Guild/DiscordGuild.cs
Labels: core

#1790 Add GetCurrentUserGuildMember to DiscordApiClient and DiscordRestClient
  DSharpPlus.Rest/DiscordRestClient.cs
  DSharpPlus/Net/Rest/DiscordApiClient.cs
Labels: enhancement, core

#1792 Fix Autocomplete
  .vscode/settings.json
  DSharpPlus.Commands/Converters/BooleanConverter.cs
  DSharpPlus.Commands/Converters/ByteConverter.cs
  DSharpPlus.Commands/Converters/DateTimeOffsetConverter.cs
  DSharpPlus.Commands/Converters/DiscordAttachmentConverter.cs
  DSharpPlus.Commands/Converters/DiscordChannelConverter.cs
  DSharpPlus.Commands/Converters/DiscordEmojiConverter.cs
  DSharpPlus.Commands/Converters/DiscordMemberConverter.cs
  DSharpPlus.Commands/Converters/DiscordMessageConverter.cs
  DSharpPlus.Commands/Converters/DiscordRoleConverter.cs
  DSharpPlus.Commands/Converters/DiscordThreadChannelConverter.cs
  DSharpPlus.Commands/Converters/DiscordUserConverter.cs
  DSharpPlus.Commands/Converters/DoubleConverter.cs
  DSharpPlus.Commands/Converters/FloatConverter.cs
  DSharpPlus.Commands/Converters/Int16Converter.cs
  DSharpPlus.Commands/Converters/Int32Converter.cs
  DSharpPlus.Commands/Converters/Int64Converter.cs
  DSharpPlus.Commands/Converters/SByteConverter.cs
  DSharpPlus.Commands/Converters/StringConverter.cs
  DSharpPlus.Commands/Converters/TimeSpanConverter.cs
  DSharpPlus.Commands/Converters/UInt16Converter.cs
  DSharpPlus.Commands/Converters/UInt32Converter.cs
  DSharpPlus.Commands/Converters/UInt64Converter.cs
  DSharpPlus.Commands/Processors/SlashCommands/Attributes/SlashAutoCompleteProviderAttribute.cs
  DSharpPlus.Commands/Processors/SlashCommands/AutoCompleteContext.cs
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
  DSharpPlus/Entities/Interaction/DiscordInteractionDataOption.cs
Labels: bug, discord-issue, commands

#1791 Recreate `DSharpPlus.Tests`
  .github/workflows/build-commit.yml
  .github/workflows/build-pr.yml
  .gitignore
  CONTRIBUTING.md
  DSharpPlus.Commands/Trees/CommandBuilder.cs
  DSharpPlus.Tests/Commands/Cases/TestMultiLevelSubCommands.cs
  DSharpPlus.Tests/Commands/Cases/TestSingleLevelSubCommands.cs
  DSharpPlus.Tests/Commands/Cases/TestTopLevelCommands.cs
  DSharpPlus.Tests/Commands/Trees/CommandBuilderTests.cs
  DSharpPlus.Tests/DSharpPlus.Tests.csproj
  DSharpPlus.sln
  Directory.Packages.props
Labels: enhancement, big-change, tests

#1794 Do not register event handlers twice
  DSharpPlus.Commands/Processors/MessageCommands/MessageCommandProcessor.cs
  DSharpPlus.Commands/Processors/UserCommands/UserCommandProcessor.cs
Labels: bug, commands

#1781 fix the global bucket
  DSharpPlus/DiscordConfiguration.cs
  DSharpPlus/Net/Rest/RateLimitBucket.cs
  DSharpPlus/Net/Rest/RateLimitStrategy.cs
  DSharpPlus/Net/Rest/RestClient.cs
Labels: bug, core

#1793 Rewrite `DefaultTextArgumentSplicer` and add new `FromCode` attribute
  DSharpPlus.Commands/Converters/StringConverter.cs
  DSharpPlus.Commands/ParameterModifiers/FromCode/CodeType.cs
  DSharpPlus.Commands/ParameterModifiers/FromCode/FromCodeAttribute.LanguageList.cs
  DSharpPlus.Commands/ParameterModifiers/FromCode/FromCodeAttribute.cs
  DSharpPlus.Commands/Processors/TextCommands/Parsing/DefaultTextArgumentSplicer.cs
  DSharpPlus.Tests/Commands/Cases/Commands/TestMultiLevelSubCommands.cs
  DSharpPlus.Tests/Commands/Cases/Commands/TestSingleLevelSubCommands.cs
  DSharpPlus.Tests/Commands/Cases/Commands/TestTopLevelCommands.cs
  DSharpPlus.Tests/Commands/Cases/UserInput.cs
  DSharpPlus.Tests/Commands/Processors/TextCommands/Parsing/DefaultTextArgumentSplicerTests.cs
  DSharpPlus.Tests/Commands/Trees/CommandBuilderTests.cs
  DSharpPlus.Tests/DSharpPlus.Tests.csproj
  DSharpPlus.sln
  Directory.Packages.props
  tools/DSharpPlus.Tools.CodeBlockLanguageListGen/DSharpPlus.Tools.CodeBlockLanguageListGen.csproj
  tools/DSharpPlus.Tools.CodeBlockLanguageListGen/FromCodeAttribute.LanguageList.template
  tools/DSharpPlus.Tools.CodeBlockLanguageListGen/Program.cs
  tools/DSharpPlus.Tools.ShardedEventHandlingGen/Program.cs
  tools/get-highlight-languages/.gitignore
  tools/get-highlight-languages/index.js
  tools/get-highlight-languages/package-lock.json
  tools/get-highlight-languages/package.json
Labels: enhancement, new-features, tools, commands, tests

#1798 DebugGuildId is no longer nullable
  DSharpPlus.Commands/CommandsConfiguration.cs
  DSharpPlus.Commands/CommandsExtension.cs
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
  DSharpPlus.Commands/Processors/TextCommands/TextCommandProcessor.cs
Labels: enhancement, commands

#1799 fix AddGuildMemberAsync route
  DSharpPlus/Net/Rest/DiscordApiClient.cs
Labels: bug, core

#1797 implement rest metrics
  DSharpPlus/Clients/BaseDiscordClient.cs
  DSharpPlus/Clients/DiscordWebhookClient.cs
  DSharpPlus/Metrics/LiveRequestMetrics.cs
  DSharpPlus/Metrics/RequestMetricsCollection.cs
  DSharpPlus/Metrics/RequestMetricsContainer.cs
  DSharpPlus/Net/Rest/DiscordApiClient.cs
  DSharpPlus/Net/Rest/RestClient.cs
  docs/articles/advanced_topics/metrics_profiling.md
  docs/articles/toc.yml
Labels: enhancement, core, docs

#1801 Fix AddGuildMemberAsync
  DSharpPlus.Rest/DiscordRestClient.cs
  DSharpPlus/Entities/Guild/DiscordGuild.cs
  DSharpPlus/Net/Rest/DiscordApiClient.cs
Labels: bug, core

#1802 [Commands] Auto Register Command Processors
  DSharpPlus.Commands/CommandsConfiguration.cs
  DSharpPlus.Commands/CommandsExtension.cs
Labels: enhancement, commands

#1803 expose the constructor on DiscordMessageFile
  DSharpPlus/Entities/Channel/Message/DiscordMessageFile.cs
  DSharpPlus/Net/Rest/DiscordApiClient.cs
Labels: enhancement, core

#1804 Use processor specific converter context
  DSharpPlus.Commands/Converters/BooleanConverter.cs
  DSharpPlus.Commands/Converters/ByteConverter.cs
  DSharpPlus.Commands/Converters/DateTimeOffsetConverter.cs
  DSharpPlus.Commands/Converters/DiscordAttachmentConverter.cs
  DSharpPlus.Commands/Converters/DiscordChannelConverter.cs
  DSharpPlus.Commands/Converters/DiscordEmojiConverter.cs
  DSharpPlus.Commands/Converters/DiscordMemberConverter.cs
  DSharpPlus.Commands/Converters/DiscordMessageConverter.cs
  DSharpPlus.Commands/Converters/DiscordRoleConverter.cs
  DSharpPlus.Commands/Converters/DiscordThreadChannelConverter.cs
  DSharpPlus.Commands/Converters/DiscordUserConverter.cs
  DSharpPlus.Commands/Converters/DoubleConverter.cs
  DSharpPlus.Commands/Converters/EnumArgumentConverter.cs
  DSharpPlus.Commands/Converters/FloatConverter.cs
  DSharpPlus.Commands/Converters/IArgumentConverter.cs
  DSharpPlus.Commands/Converters/Int16Converter.cs
  DSharpPlus.Commands/Converters/Int32Converter.cs
  DSharpPlus.Commands/Converters/Int64Converter.cs
  DSharpPlus.Commands/Converters/SByteConverter.cs
  DSharpPlus.Commands/Converters/StringConverter.cs
  DSharpPlus.Commands/Converters/TimeSpanConverter.cs
  DSharpPlus.Commands/Converters/UInt16Converter.cs
  DSharpPlus.Commands/Converters/UInt32Converter.cs
  DSharpPlus.Commands/Converters/UInt64Converter.cs
  DSharpPlus.Commands/Processors/BaseCommandProcessor/BaseCommandProcessor.cs
  DSharpPlus.Commands/Processors/SlashCommands/ISlashArgumentConverter.cs
  DSharpPlus.Commands/Processors/TextCommands/ITextArgumentConverter.cs
Labels: enhancement, commands

#1806 Fix weird command handler behavior
  DSharpPlus.Commands/CommandsExtension.cs
Labels: enhancement, commands

#1807 Allow the command executor to be reassigned
  DSharpPlus.Commands/CommandsConfiguration.cs
  DSharpPlus.Commands/CommandsExtension.cs
Labels: enhancement, commands

#1808 Create the logger for the RestClient with the correct name
  DSharpPlus/Clients/DiscordShardedClient.cs
Labels: enhancement, core

#1809 [ci-skip] fix broken docs link
  docs/articles/migration/3x_to_4x.md
Labels: bug, docs

#1810 [Commands] Fix accidental reversal of remaining text logic
  DSharpPlus.Commands/Converters/StringConverter.cs
Labels: bug, commands

#1811 Use a more sane default commandexecutor in cnext
  DSharpPlus.CommandsNext/CommandsNextConfiguration.cs
  DSharpPlus.CommandsNext/Executors/AsynchronousCommandExecutor.cs
  DSharpPlus.CommandsNext/Executors/SynchronousCommandExecutor.cs
Labels: enhancement, commands-next

#1814 obsolete lavalink in docs and source
  DSharpPlus.Lavalink/DiscordClientExtensions.cs
  DSharpPlus.Lavalink/Entities/LavalinkCommands.cs
  DSharpPlus.Lavalink/EventArgs/NodeDisconnectedEventArgs.cs
  DSharpPlus.Lavalink/EventArgs/PlayerUpdateEventArgs.cs
  DSharpPlus.Lavalink/EventArgs/TrackEventArgs.cs
  DSharpPlus.Lavalink/LavalinkExtension.cs
  DSharpPlus.Lavalink/LavalinkGuildConnection.cs
  DSharpPlus.Lavalink/LavalinkNodeConnection.cs
  docs/articles/audio/lavalink/configuration.md
  docs/articles/audio/lavalink/music_commands.md
  docs/articles/audio/lavalink/setup.md
Labels: big-change, lavalink

#1815 Add DefaultValues to Selects and add checks to constructors
  DSharpPlus/Entities/Interaction/Components/DiscordSelectDefaultValueType.cs
  DSharpPlus/Entities/Interaction/Components/Selects/BaseDiscordSelectComponent.cs
  DSharpPlus/Entities/Interaction/Components/Selects/DiscordChannelSelectComponent.cs
  DSharpPlus/Entities/Interaction/Components/Selects/DiscordMentionableSelectComponent.cs
  DSharpPlus/Entities/Interaction/Components/Selects/DiscordRoleSelectComponent.cs
  DSharpPlus/Entities/Interaction/Components/Selects/DiscordSelectComponent.cs
  DSharpPlus/Entities/Interaction/Components/Selects/DiscordSelectComponentOption.cs
  DSharpPlus/Entities/Interaction/Components/Selects/DiscordSelectDefaultValue.cs
  DSharpPlus/Entities/Interaction/Components/Selects/DiscordUserSelectComponent.cs
Labels: enhancement, core

#1816 Adds guild bulk bans
  DSharpPlus.Rest/DiscordRestClient.cs
  DSharpPlus/Entities/Guild/DiscordBulkBan.cs
  DSharpPlus/Entities/Guild/DiscordGuild.cs
  DSharpPlus/Net/Abstractions/Rest/RestGuildPayloads.cs
  DSharpPlus/Net/Rest/DiscordApiClient.cs
  DSharpPlus/Net/Rest/Endpoints.cs
Labels: enhancement, core

#1817 Fix naming in DiscordRestClient
  DSharpPlus.Rest/DiscordRestClient.cs
Labels: enhancement, core, docs
