Repository DSharpPlus/DSharpPlus, pull requests merged in 2024-04, with the labels that each got.

#1818 checks article
  docs/articles/commands/custom_context_checks.md
Labels: docs, commands

#1821 fix command check di scope in DefautCommandExecutor
  DSharpPlus.Commands/DefaultCommandExecutor.cs
Labels: bug, commands

#1819 Split Default Command Handler Logic
  DSharpPlus.Commands/CommandExecutor.cs
  DSharpPlus.Commands/CommandsConfiguration.cs
  DSharpPlus.Commands/CommandsExtension.cs
  DSharpPlus.Commands/ContextChecks/ContextCheckFailedData.cs
  DSharpPlus.Commands/ContextChecks/ContextCheckMapEntry.cs
  DSharpPlus.Commands/DefaultCommandExecutor.cs
  DSharpPlus.Commands/Exceptions/ChecksFailedException.cs
  DSharpPlus.Commands/ICommandExecutor.cs
  DSharpPlus.Commands/Invocation/AnonymousDelegateUtil.cs
  DSharpPlus.Commands/Invocation/CommandEmitUtil.cs
Labels: enhancement, docs, commands

#1822 Fixes beginning whitespace being passed to the argument
  DSharpPlus.Commands/Converters/StringConverter.cs
Labels: bug, commands

#1823 Fix KeyNotFoundException sometimes being thrown
  DSharpPlus/Net/Rest/RateLimitStrategy.cs
Labels: bug, core, ratelimits

#1824 Fix commands being indexed with whitespace characters
  DSharpPlus.Commands/Processors/TextCommands/TextCommandProcessor.cs
Labels: bug, commands

#1825 Add threads to argument converter logic
  DSharpPlus.Commands/Converters/DiscordChannelConverter.cs
  DSharpPlus.Commands/Converters/DiscordMessageConverter.cs
Labels: bug, enhancement, commands

#1827 Fix ContextMenus
  DSharpPlus.SlashCommands/SlashCommandsExtension.cs
  DSharpPlus/Clients/DiscordClient.Dispatch.cs
Labels: bug, core, slash-commands

#1831 update the FAQ
  docs/faq.md
  docs/images/faq_01.png
  docs/images/faq_02.png
  docs/images/faq_spiderman.png
Labels: docs

#1832 add a computed share link
  DSharpPlus/Entities/Guild/ScheduledEvents/DiscordScheduledGuildEvent.cs
Labels: enhancement, core

#1805 User App support
  DSharpPlus.Commands/Processors/MessageCommands/MessageCommandProcessor.cs
  DSharpPlus.Commands/Processors/SlashCommands/Metadata/InteractionAllowedContextsAttribute.cs
  DSharpPlus.Commands/Processors/SlashCommands/Metadata/InteractionInstallTypeAttribute.cs
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
  DSharpPlus.Commands/Processors/UserCommands/UserCommandProcessor.cs
  DSharpPlus.SlashCommands/Attributes/InteractionCommandAllowedContextsAttribute.cs
  DSharpPlus.SlashCommands/Attributes/InteractionCommandInstallTypeAttribute.cs
  DSharpPlus.SlashCommands/SlashCommandsExtension.cs
  DSharpPlus/Clients/DiscordClient.cs
  DSharpPlus/Entities/Application/DiscordApplication.cs
  DSharpPlus/Entities/Integration/ApplicationIntegrationType.cs
  DSharpPlus/Entities/Integration/InteractionContextType.cs
  DSharpPlus/Entities/Interaction/Application/ApplicationIntegrationTypeConfiguration.cs
  DSharpPlus/Entities/Interaction/Application/DiscordApplicationCommand.cs
  DSharpPlus/Entities/Interaction/Application/DiscordApplicationOAuth2InstallParams.cs
  DSharpPlus/Entities/Interaction/DiscordInteraction.cs
  DSharpPlus/Entities/Interaction/Metadata/DiscordInteractionMetadata.cs
  DSharpPlus/Net/Abstractions/Rest/RestApplicationCommandPayloads.cs
  DSharpPlus/Net/Rest/DiscordApiClient.cs
Labels: core, new-features, commands

#1837 Only use multipartrequests on interaction creation if necessary
  DSharpPlus/Net/Rest/DiscordApiClient.cs
Labels: enhancement, core

#1838 Move interaction responses to corelib
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandContext.cs
  DSharpPlus/Entities/Interaction/DiscordInteraction.cs
  DSharpPlus/Enums/Interaction/DiscordInteractionResponseState.cs
Labels: enhancement, core

#1840 enable localizing application command choices
  DSharpPlus/Entities/Interaction/Application/DiscordApplicationCommandOptionChoice.cs
Labels: enhancement, core

#1841 Make command registeration behavior more consistent
  DSharpPlus.Commands/CommandsExtension.cs
Labels: bug, commands

#1839 Allow enums to use display names for prettiness
  DSharpPlus.Commands/Processors/SlashCommands/Attributes/SlashChoiceProviderAttribute.cs
  DSharpPlus.Commands/Trees/CommandParameterBuilder.cs
Labels: enhancement, commands

#1842 Add cancellation tokens to IAsyncEnumerables
  DSharpPlus/Clients/DiscordClient.cs
  DSharpPlus/Entities/AuditLogs/AuditLogParser.cs
  DSharpPlus/Entities/Channel/DiscordChannel.cs
  DSharpPlus/Entities/Guild/DiscordGuild.cs
Labels: enhancement, core

#1845 kill Attributes folders
  DSharpPlus.Commands/ArgumentModifiers/FromCode/CodeType.cs
  DSharpPlus.Commands/ArgumentModifiers/FromCode/FromCodeAttribute.LanguageList.cs
  DSharpPlus.Commands/ArgumentModifiers/FromCode/FromCodeAttribute.cs
  DSharpPlus.Commands/ArgumentModifiers/RemainingTextAttribute.cs
  DSharpPlus.Commands/CommandAttribute.cs
  DSharpPlus.Commands/CommandsExtension.cs
  DSharpPlus.Commands/Converters/StringConverter.cs
  DSharpPlus.Commands/ParameterAttribute.cs
  DSharpPlus.Commands/Processors/MessageCommands/MessageCommandProcessor.cs
  DSharpPlus.Commands/Processors/SlashCommands/ArgumentModifiers/SlashAutoCompleteProviderAttribute.cs
  DSharpPlus.Commands/Processors/SlashCommands/ArgumentModifiers/SlashChannelTypesAttribute.cs
  DSharpPlus.Commands/Processors/SlashCommands/ArgumentModifiers/SlashChoiceProviderAttribute.cs
  DSharpPlus.Commands/Processors/SlashCommands/ArgumentModifiers/SlashMinMaxAttribute.cs
  DSharpPlus.Commands/Processors/SlashCommands/ArgumentModifiers/SlashMinMaxLengthAttribute.cs
  DSharpPlus.Commands/Processors/SlashCommands/InteractionTypes.cs
  DSharpPlus.Commands/Processors/SlashCommands/Localization/InteractionLocalizerAttribute.cs
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
  DSharpPlus.Commands/Processors/TextCommands/TextCommandProcessor.cs
  DSharpPlus.Commands/Processors/UserCommands/UserCommandProcessor.cs
  DSharpPlus.Commands/Trees/CommandBuilder.cs
  DSharpPlus.Commands/Trees/CommandParameterBuilder.cs
  DSharpPlus.Commands/Trees/Metadata/AllowDMUsageAttribute.cs
  DSharpPlus.Commands/Trees/Metadata/DefaultGroupCommandAttribute.cs
  DSharpPlus.Commands/Trees/Metadata/TextAliasAttribute.cs
  DSharpPlus.Tests/Commands/Cases/Commands/TestMultiLevelSubCommands.cs
  DSharpPlus.Tests/Commands/Cases/Commands/TestSingleLevelSubCommands.cs
  DSharpPlus.Tests/Commands/Cases/Commands/TestTopLevelCommands.cs
  tools/DSharpPlus.Tools.CodeBlockLanguageListGen/FromCodeAttribute.LanguageList.template
Labels: enhancement, commands

#1846 fix the namespace in the FromCodeAttribute template
  tools/DSharpPlus.Tools.CodeBlockLanguageListGen/FromCodeAttribute.LanguageList.template
Labels: bug, tools

#1848 respect `ParameterAttribute`
  DSharpPlus.Commands/ParameterAttribute.cs
  DSharpPlus.Commands/Trees/CommandParameterBuilder.cs
Labels: bug, commands

#1813 feat: Add polls support
  .gitignore
  DSharpPlus/Clients/DiscordClient.Dispatch.cs
  DSharpPlus/Clients/DiscordClient.Events.cs
  DSharpPlus/Clients/DiscordClient.cs
  DSharpPlus/DiscordIntents.cs
  DSharpPlus/Entities/BaseDiscordMessageBuilder.cs
  DSharpPlus/Entities/Channel/Message/DiscordMessage.cs
  DSharpPlus/Entities/Channel/Message/DiscordMessageBuilder.cs
  DSharpPlus/Entities/Channel/Message/Poll/DiscordPoll.cs
  DSharpPlus/Entities/Channel/Message/Poll/DiscordPollAnswer.cs
  DSharpPlus/Entities/Channel/Message/Poll/DiscordPollAnswerCount.cs
  DSharpPlus/Entities/Channel/Message/Poll/DiscordPollBuilder.cs
  DSharpPlus/Entities/Channel/Message/Poll/DiscordPollLayoutType.cs
  DSharpPlus/Entities/Channel/Message/Poll/DiscordPollMedia.cs
  DSharpPlus/Entities/Channel/Message/Poll/DiscordPollResult.cs
  DSharpPlus/Entities/Channel/Message/Poll/DiscordPollVoteUpdate.cs
  DSharpPlus/Entities/DiscordPermissions.cs
  DSharpPlus/Entities/Interaction/DiscordInteractionApplicationCommandCallbackData.cs
  DSharpPlus/EventArgs/Message/MessagePollVoteEventArgs.cs
  DSharpPlus/Net/Abstractions/PollCreatePayload.cs
  DSharpPlus/Net/Abstractions/Rest/RestChannelPayloads.cs
  DSharpPlus/Net/Abstractions/Rest/RestWebhookPayloads.cs
  DSharpPlus/Net/Rest/DiscordApiClient.cs
  DSharpPlus/Net/Rest/Endpoints.cs
Labels: core, new-features

#1853 Add helper methods to create snowflake ids from a DataTimeOffset…
  DSharpPlus/Utilities.cs
Labels: enhancement, core

#1850 [Commands] Add overwrite method with an Ephemeral parameter in SlashCommandContext
  DSharpPlus.Commands/CommandContext.cs
  DSharpPlus.Commands/Processors/SlashCommands/ArgumentModifiers/SlashMinMaxValueAttribute.cs
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandContext.cs
Labels: enhancement, commands

#1856 hopefully fix ratelimit exceptions
  DSharpPlus/Net/Rest/RateLimitBucket.cs
  DSharpPlus/Net/Rest/RateLimitStrategy.cs
Labels: bug, core

#1855 add a ChoiceDisplayNameAttribute
  DSharpPlus.Commands/Processors/SlashCommands/ArgumentModifiers/ChoiceDisplayNameAttribute.cs
  DSharpPlus.Commands/Trees/CommandParameterBuilder.cs
Labels: bug, commands

#1851 [Commands] Fixes the SlashMinMaxLengthAttribute
  DSharpPlus.Commands/Processors/SlashCommands/ArgumentModifiers/SlashMinMaxLengthAttribute.cs
Labels: bug, commands

#1858 fix a crash when using autocomplete on enums
  DSharpPlus.Commands/Trees/CommandParameterBuilder.cs
Labels: bug, commands

#1857 Implement SnowflakeObject SlashArgumentConverter
  DSharpPlus.Commands/Converters/DiscordRoleConverter.cs
  DSharpPlus.Commands/Converters/DiscordSnowflakeObjectConverter.cs
Labels: enhancement, commands

#1859 [Commands] Fixes wrong AutoCompleteArgument on the context
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
Labels: bug, commands

#1847 implement parameter checks for DSharpPlus.Commands
  DSharpPlus.Commands/CommandsExtension.cs
  DSharpPlus.Commands/ContextChecks/ParameterChecks/IParameterCheck.cs
  DSharpPlus.Commands/ContextChecks/ParameterChecks/ParameterCheckAttribute.cs
  DSharpPlus.Commands/ContextChecks/ParameterChecks/ParameterCheckFailedData.cs
  DSharpPlus.Commands/ContextChecks/ParameterChecks/ParameterCheckInfo.cs
  DSharpPlus.Commands/ContextChecks/ParameterChecks/ParameterCheckMapEntry.cs
  DSharpPlus.Commands/ContextChecks/ParameterChecks/RequireHierarchyCheck.cs
  DSharpPlus.Commands/ContextChecks/ParameterChecks/RequireHigherBotHierarchyAttribute.cs
  DSharpPlus.Commands/ContextChecks/ParameterChecks/RequireHigherUserHierarchyAttribute.cs
  DSharpPlus.Commands/DefaultCommandExecutor.cs
  DSharpPlus.Commands/Exceptions/ParameterChecksFailedException.cs
Labels: enhancement, new-features, commands

#1854 [Commands] Add the possibility to register commands to specific guilds
  DSharpPlus.Commands/CommandsExtension.cs
  DSharpPlus.Commands/ContextChecks/RequireGuildAttribute.cs
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
  DSharpPlus.Commands/Processors/TextCommands/TextCommandProcessor.cs
  DSharpPlus.Commands/RegisterToGuildsAttribute.cs
  DSharpPlus.Commands/Trees/Command.cs
  DSharpPlus.Commands/Trees/CommandBuilder.cs
Labels: enhancement, commands

#1861 Account for exceptions messages over char limit of discord messages in…
  DSharpPlus.Commands/CommandsExtension.cs
Labels: bug, commands
