Repository DSharpPlus/DSharpPlus, pull requests merged in 2024-06, with the labels that each got.

#1925 Add additional slash command validation
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
Labels: enhancement, commands

#1926 Fix json deserialization of DiscordChanel in ApiClient
  DSharpPlus/Net/Rest/DiscordApiClient.cs
Labels: bug, enhancement, core

#1928 fix(rest): Make interaction callbacks exempt from RLs
  DSharpPlus/Net/Rest/DiscordApiClient.cs
Labels: bug, core

#1927 Add GuildId to synthetic threadchannel in Auditlogparser
  DSharpPlus/Entities/AuditLogs/AuditLogParser.cs
Labels: bug, core, audit-log

#1929 fix ioc event construction
  DSharpPlus/Clients/EventHandlingBuilder.cs
Labels: bug, core

#1932 Use the EditFollowUpAsync method on the interaction instead of defaul…
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandContext.cs
Labels: bug, commands

#1935 fix the extra newline in the logger
  DSharpPlus/Logging/DefaultLogger.cs
Labels: bug, core

#1933 Enhance DefaultPrefixResolver to support multiple prefixes and make m…
  DSharpPlus.Commands/Processors/TextCommands/Parsing/DefaultPrefixResolver.cs
  DSharpPlus.Commands/Processors/TextCommands/TextCommandConfiguration.cs
  docs/articles/commands/introduction.md
Labels: enhancement, commands

#1934 fix #1917
  DSharpPlus.Commands/ContextChecks/RequirePermissionsCheck.cs
Labels: bug, commands

#1914 Rework command filtering for processor specific commands
  DSharpPlus.Commands/CommandsExtension.cs
  DSharpPlus.Commands/Processors/BaseCommandProcessor/BaseCommandProcessor.cs
  DSharpPlus.Commands/Processors/BaseCommandProcessor/ICommandProcessor.cs
  DSharpPlus.Commands/Processors/MessageCommands/MessageCommandProcessor.cs
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
  DSharpPlus.Commands/Processors/TextCommands/TextCommandProcessor.cs
  DSharpPlus.Commands/Processors/UserCommands/UserCommandProcessor.cs
  DSharpPlus.Commands/Properties/AssemblyProperties.cs
  DSharpPlus.Commands/Trees/Command.cs
  DSharpPlus.Tests/Commands/CommandFiltering/TestMultiLevelSubCommandsFiltered.cs
  DSharpPlus.Tests/Commands/CommandFiltering/Tests.cs
  DSharpPlus/Properties/AssemblyProperties.cs
  docs/articles/commands/processors/introduction.md
Labels: enhancement, commands

#1937 Update GitHub Actions Deps
  .github/workflows/build-commit.yml
  .github/workflows/build-pr.yml
  .github/workflows/release.yml
Labels: enhancement, tools

#1936 Fix `InvalidOperationException` due to Interactivity not switching to the new event system.
  DSharpPlus.Interactivity/EventHandling/EventWaiter.cs
  DSharpPlus.Interactivity/EventHandling/ReactionCollector.cs
  DSharpPlus.Interactivity/InteractivityExtension.cs
  DSharpPlus/Clients/DiscordClient.cs
Labels: bug, interactivity

#1939 Update introduction.md
  docs/articles/commands/introduction.md
Labels: docs, commands

#1940 Remove "this should be reported..." part from logging messages in AuditLogParser
  DSharpPlus/Entities/AuditLogs/AuditLogParser.cs
Labels: enhancement, core, audit-log

#1942 Also look at SubCommands and check if they are valid context menus
  DSharpPlus.Commands/Processors/MessageCommands/MessageCommandProcessor.cs
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
  DSharpPlus.Commands/Processors/UserCommands/UserCommandProcessor.cs
  DSharpPlus.Commands/Trees/Command.cs
  DSharpPlus.Tests/Commands/CommandFiltering/TestMultiLevelSubCommandsFiltered.cs
  DSharpPlus.Tests/Commands/CommandFiltering/Tests.cs
Labels: enhancement, commands

#1945 fix(gateway): Disable zlib compression by default
  DSharpPlus/DiscordConfiguration.cs
Labels: core

#1946 Fix note in DSP.SL to DSP.C migration guide
  docs/articles/migration/4x_to_5x.md
Labels: enhancement

#1947 Fix Markdown
  docs/articles/migration/4x_to_5x.md
Labels: enhancement, docs

#1949 Remove all usages of IReadOnlyCollection within Discord data entities
  DSharpPlus/Entities/Channel/Message/DiscordMessage.cs
  DSharpPlus/Entities/DiscordTeam.cs
  DSharpPlus/Entities/Interaction/Application/DiscordApplicationCommand.cs
  DSharpPlus/Entities/Interaction/Application/DiscordApplicationCommandOption.cs
  DSharpPlus/Entities/Interaction/DiscordInteractionApplicationCommandCallbackData.cs
  DSharpPlus/Entities/Interaction/DiscordInteractionDataOption.cs
  DSharpPlus/Entities/Invite/DiscordStageInvite.cs
  DSharpPlus/EventArgs/Guild/Member/GuildMembersChunkedEventArgs.cs
  DSharpPlus/Net/Abstractions/Rest/RestApplicationCommandPayloads.cs
  DSharpPlus/Net/Abstractions/Rest/RestChannelPayloads.cs
  DSharpPlus/Net/Models/ApplicationCommandEditModel.cs
  DSharpPlus/Net/Rest/DiscordApiClient.cs
  DSharpPlus/ReadOnlySet.cs
Labels: enhancement, core

#1951 Revert "Fix json deserialization of DiscordChanel in ApiClient (#1926)"
  DSharpPlus/Net/Rest/DiscordApiClient.cs
Labels: bug, core

#1953 Move ws managment event handler registration to Discordclient ctor
  DSharpPlus/Clients/DiscordClient.WebSocket.cs
  DSharpPlus/Clients/DiscordClient.cs
Labels: bug, core

#1960 re-add ChannelDeleted
  DSharpPlus/Clients/EventHandlingBuilder.cs
Labels: bug, core

#1962 Fix handling of OP9 and fix token not beeing send on resume
  DSharpPlus/Clients/DiscordClient.WebSocket.cs
Labels: bug, core

#1965 Commands were not registered correctly when using debug guild id
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
Labels: bug, commands

#1968 Add RespondWithModalAsync method to SlashCommandContext
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandContext.cs
Labels: enhancement, commands

#1973 Fix obselete SlashCommands not registering due to variable shadowing
  obsolete/DSharpPlus.SlashCommands/SlashCommandsExtension.cs
Labels: bug, obsolete: slash-commands

#1967 feat(interactivity): Add support for components in pages
  DSharpPlus.Interactivity/EventHandling/ComponentBased/ComponentPaginator.cs
  DSharpPlus.Interactivity/EventHandling/Requests/PaginationEmojis.cs
  DSharpPlus.Interactivity/InteractivityExtension.cs
Labels: enhancement, interactivity

#1972 fix: Set command mapping to be empty by default
  DSharpPlus.Commands/Processors/MessageCommands/MessageCommandProcessor.cs
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
  DSharpPlus.Commands/Processors/UserCommands/UserCommandProcessor.cs
Labels: bug, commands

#1980 Changed ConfigureEvents to ConfigureEventHandlers in the preamble docs
  docs/articles/basics/first_bot.md
Labels: docs

#1981 update references to stable version numbers
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/articles/preamble.md
Labels: docs

#1983 if we encounter a bad request, we should probably print the extra fields
  DSharpPlus/DefaultClientErrorHandler.cs
Labels: enhancement, core
