Repository DSharpPlus/DSharpPlus, pull requests merged in 2024-09, with the labels that each got.

#2083 deal with top-level components that aren't action rows
  DSharpPlus.Interactivity/InteractivityExtension.cs
  DSharpPlus.targets
  DSharpPlus/Entities/Channel/Message/DiscordMessage.cs
  DSharpPlus/Entities/Channel/Message/DiscordMessageBuilder.cs
  DSharpPlus/Entities/Interaction/DiscordInteractionData.cs
  DSharpPlus/EventArgs/Interaction/ModalSubmitEventArgs.cs
Labels: discord-issue

#2084 make sure to not double-reply in the default command error handler
  DSharpPlus.Commands/CommandsExtension.cs
Labels: bug, commands

#2087 Add support for fetching localized command data via query parameters
  DSharpPlus/Clients/DiscordClient.cs
  DSharpPlus/Entities/Guild/DiscordGuild.cs
  DSharpPlus/Entities/Interaction/Application/DiscordApplicationCommand.cs
  DSharpPlus/Net/Rest/DiscordApiClient.cs
Labels: enhancement, core

#2090 trace logging runtime toggles
  DSharpPlus/Logging/AnonymizationUtilities.cs
  DSharpPlus/Logging/RuntimeFeatures.cs
  DSharpPlus/Net/Gateway/TransportService.cs
  DSharpPlus/Net/Rest/RestClient.cs
  docs/articles/advanced_topics/trace_logs.md
  docs/articles/toc.yml
Labels: enhancement, core, new-features, docs

#2085 deal with Discord's component changes
  DSharpPlus.Interactivity/InteractivityExtension.cs
  DSharpPlus/Entities/Channel/Message/DiscordMessage.cs
  DSharpPlus/Entities/Channel/Message/DiscordMessageBuilder.cs
  DSharpPlus/Entities/Interaction/DiscordInteractionData.cs
Labels: core, discord-issue

#2092 Fix .csproj example in docs trace_logs.md
  docs/articles/advanced_topics/trace_logs.md
Labels: docs

#2094 Internalize public methods on api clients
  DSharpPlus/Net/Rest/DiscordApiClient.cs
Labels: enhancement, core
