Repository DSharpPlus/DSharpPlus, pull requests merged in 2024-11, with the labels that each got.

#2142 Cleanup `DiscordOverwriteBuilder`
  DSharpPlus/Entities/Channel/DiscordChannel.cs
  DSharpPlus/Entities/Channel/DiscordOverwriteType.cs
  DSharpPlus/Entities/Channel/Overwrite/DiscordOverwriteBuilder.cs
Labels: enhancement, core

#2149 Give user and message commands their own command contexts
  DSharpPlus.Commands/Processors/MessageCommands/MessageCommandContext.cs
  DSharpPlus.Commands/Processors/MessageCommands/MessageCommandProcessor.cs
  DSharpPlus.Commands/Processors/UserCommands/UserCommandContext.cs
  DSharpPlus.Commands/Processors/UserCommands/UserCommandProcessor.cs
Labels: enhancement, commands

#2152 upgrade permissions to 128-bit with ability to scale indefinitely
  .github/workflows/build-alpha.yml
  .github/workflows/build-commit.yml
  .github/workflows/build-pr.yml
  .github/workflows/release.yml
  DSharpPlus.Commands/ContextChecks/RequirePermissionsAttribute.cs
  DSharpPlus.Commands/ContextChecks/RequirePermissionsCheck.cs
  DSharpPlus.Commands/Processors/MessageCommands/MessageCommandProcessor.cs
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.Registration.cs
  DSharpPlus.Commands/Processors/UserCommands/UserCommandProcessor.cs
  DSharpPlus.Commands/Trees/CommandParameterBuilder.cs
  DSharpPlus.CommandsNext/Attributes/RequireBotPermissionsAttribute.cs
  DSharpPlus.CommandsNext/Attributes/RequirePermissionsAttribute.cs
  DSharpPlus.CommandsNext/Attributes/RequireUserPermissionsAttribute.cs
  DSharpPlus.Interactivity/EventHandling/Paginator.cs
  DSharpPlus.Interactivity/EventHandling/Poller.cs
  DSharpPlus.Interactivity/InteractivityExtension.cs
  DSharpPlus.Rest/DiscordRestClient.cs
  DSharpPlus.Tests/DSharpPlus.Tests.csproj
  DSharpPlus.VoiceNext/VoiceNextExtension.cs
  DSharpPlus/Clients/DiscordClient.cs
  DSharpPlus/DSharpPlus.csproj
  DSharpPlus/Entities/Application/DiscordApplication.cs
  DSharpPlus/Entities/Channel/DiscordChannel.cs
  DSharpPlus/Entities/Channel/DiscordPartialChannel.cs
  DSharpPlus/Entities/Channel/Message/DiscordMessage.cs
  DSharpPlus/Entities/Channel/Overwrite/DiscordOverwrite.cs
  DSharpPlus/Entities/Channel/Stage/DiscordStageInstance.cs
  DSharpPlus/Entities/Channel/Thread/DiscordThreadChannel.cs
  DSharpPlus/Entities/Channel/Thread/Forum/DiscordForumTag.cs
  DSharpPlus/Entities/DiscordPermission.cs
  DSharpPlus/Entities/DiscordPermissionLevel.cs
  DSharpPlus/Entities/DiscordPermissions.Arithmetics.cs
  DSharpPlus/Entities/DiscordPermissions.Enumeration.cs
  DSharpPlus/Entities/DiscordPermissions.Utility.cs
  DSharpPlus/Entities/DiscordPermissions.cs
  DSharpPlus/Entities/Guild/DiscordGuild.cs
  DSharpPlus/Entities/Guild/DiscordGuildEmoji.cs
  DSharpPlus/Entities/Guild/DiscordMember.cs
  DSharpPlus/Entities/Guild/DiscordRole.cs
  DSharpPlus/Entities/Invite/DiscordInvite.cs
  DSharpPlus/Entities/User/DiscordUser.cs
  DSharpPlus/Entities/Webhook/DiscordWebhook.cs
  DSharpPlus/ImageTool.cs
  DSharpPlus/Net/Serialization/DiscordPermissionsAsStringJsonConverter.cs
  DSharpPlus/Utilities.cs
  Directory.Build.props
  Directory.Packages.props
  obsolete/DSharpPlus.SlashCommands/Built-in Checks/SlashRequireBotPermissionsAttribute.cs
  obsolete/DSharpPlus.SlashCommands/Built-in Checks/SlashRequirePermissionsAttribute.cs
  obsolete/DSharpPlus.SlashCommands/Built-in Checks/SlashRequireUserPermissionsAttribute.cs
Labels: enhancement, core, big-change, discord-issue

#2156 update bug_report.yml and docs for .NET 9
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build-commit.yml
  DSharpPlus.sln
  DSharpPlus/DSharpPlus.csproj
  docs/articles/preamble.md
  tools/AutoUpdateChannelDescription/DSharpPlus.Tools.AutoUpdateChannelDescription.csproj
  tools/AutoUpdateChannelDescription/Program.cs
  tools/AutoUpdateChannelDescription/README.md
Labels: enhancement, tools

#2157 embed titles dont support hyperlinks
  .github/workflows/build-commit.yml
Labels: bugfix, tools

#2158 reload documentation when the docs are built.
  .github/workflows/build-commit.yml
Labels: bugfix, tools

#2160 can't have nice things with github actions
  .github/workflows/build-commit.yml
Labels: bugfix, tools

#2163 add a null check before relying on guildId being set
  DSharpPlus/Clients/DiscordClient.Dispatch.cs
Labels: bugfix, core

#2159 said i'd touch upon the docs
  docs/articles/analyzers/commands.md
  docs/articles/analyzers/core.md
Labels: enhancement, docs, analyzer

#2162 solve two permissions usability issues
  .github/workflows/build-commit.yml
  DSharpPlus/Entities/DiscordPermissions.cs
  obsolete/DSharpPlus.SlashCommands/Attributes/SlashCommandPermissionsAttribute.cs
  obsolete/DSharpPlus.SlashCommands/SlashCommandsExtension.cs
Labels: bugfix, core, obsolete: slash-commands

#2165 actually reload docs
  .github/workflows/build-commit.yml
Labels: bugfix, tools

#2168 use Stream.ReadExactly rather than Stream.Read
  .gitignore
  DSharpPlus/ImageTool.cs
Labels: enhancement, core

#2169 Support AEAD AES-256 GCM encryption in VNext
  DSharpPlus.VoiceNext/Codec/Interop.cs
  DSharpPlus.VoiceNext/Codec/Rtp.cs
  DSharpPlus.VoiceNext/Codec/Sodium.cs
  DSharpPlus.VoiceNext/DiscordClientExtensions.cs
  DSharpPlus.VoiceNext/VoiceNextConnection.cs
Labels: enhancement, voicenext, discord-issue

#2170 add UseSlashCommands to DiscordClientBuilder
  obsolete/DSharpPlus.SlashCommands/ExtensionMethods.cs
Labels: enhancement, obsolete: slash-commands

#2171 fix the libsodium CPU condition
  DSharpPlus.VoiceNext/Codec/Interop.cs
  DSharpPlus.VoiceNext/DiscordClientExtensions.cs
Labels: bugfix, voicenext

#2173 Added missing exception to GetMemberAsync summary comment
  DSharpPlus/Entities/Guild/DiscordGuild.cs
Labels: enhancement, core

#2175 add a shortcut for getting the modal custom ID
  DSharpPlus/EventArgs/Interaction/ModalSubmittedEventArgs.cs
Labels: enhancement, core

#2177 correctly check parameter types for message/user context commands
  DSharpPlus.Commands/Processors/MessageCommands/MessageCommandProcessor.cs
  DSharpPlus.Commands/Processors/UserCommands/UserCommandProcessor.cs
Labels: bugfix, commands
