Repository DSharpPlus/DSharpPlus, pull requests merged in 2024-05, with the labels that each got.

#1871 Correctly limit Slash Command parameters to respect numeric BCL limits
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
Labels: bug, commands

#1869 Overhauled DiscordGuild:
  DSharpPlus/Entities/Guild/DiscordGuild.cs
  DSharpPlus/Entities/Guild/DiscordMember.cs
  DSharpPlus/Net/Rest/DiscordApiClient.cs
Labels: enhancement, core

#1867 Provide documentation for `DSharpPlus.Commands`
  DSharpPlus.SlashCommands/DSharpPlus.SlashCommands.csproj
  DSharpPlus.SlashCommands/ExtensionMethods.cs
  DSharpPlus.SlashCommands/SlashCommandsExtension.cs
  docs/articles/audio/lavalink/music_commands.md
  docs/articles/basics/first_bot.md
  docs/articles/commands/custom_argument_converters.md
  docs/articles/commands/custom_context_checks.md
  docs/articles/commands/custom_error_handler.md
  docs/articles/commands/introduction.md
  docs/articles/commands/processors/introduction.md
  docs/articles/commands/processors/slash_commands/choice_provider_vs_autocomplete.md
  docs/articles/commands_next/argument_converters.md
  docs/articles/commands_next/command_attributes.md
  docs/articles/commands_next/command_handler.md
  docs/articles/commands_next/dependency_injection.md
  docs/articles/commands_next/help_formatter.md
  docs/articles/commands_next/intro.md
  docs/articles/migration/3x_to_4x.md
  docs/articles/slash_commands.md
  docs/articles/toc.yml
  docs/faq.md
  docs/images/commands_autocomplete_example.png
  docs/images/commands_choice_provider_example.png
  docs/images/commands_next_argument_converters_01.png
  docs/images/commands_next_command_attributes_01.png
  docs/images/commands_next_dependency_injection_01.png
  docs/images/commands_next_help_formatter_01.png
  docs/images/commands_next_help_formatter_02.png
  docs/images/commands_next_intro_01.png
  docs/images/commands_next_intro_02.png
  docs/images/commands_next_intro_03.png
  docs/images/commands_next_intro_04.png
  docs/images/commands_next_intro_05.png
  docs/images/commands_next_intro_06.png
  docs/images/commands_next_intro_07.png
  docs/images/commands_next_intro_08.png
  docs/images/commands_ping_command_demonstration.png
  docs/images/commands_text_command_processor_example.png
Labels: enhancement, docs, slash-commands, commands

#1868 Add human readable argument converter names
  DSharpPlus.Commands/Converters/BooleanConverter.cs
  DSharpPlus.Commands/Converters/ByteConverter.cs
  DSharpPlus.Commands/Converters/DateTimeOffsetConverter.cs
  DSharpPlus.Commands/Converters/DiscordAttachmentConverter.cs
  DSharpPlus.Commands/Converters/DiscordChannelConverter.cs
  DSharpPlus.Commands/Converters/DiscordEmojiConverter.cs
  DSharpPlus.Commands/Converters/DiscordMemberConverter.cs
  DSharpPlus.Commands/Converters/DiscordMessageConverter.cs
  DSharpPlus.Commands/Converters/DiscordRoleConverter.cs
  DSharpPlus.Commands/Converters/DiscordSnowflakeObjectConverter.cs
  DSharpPlus.Commands/Converters/DiscordThreadChannelConverter.cs
  DSharpPlus.Commands/Converters/DiscordUserConverter.cs
  DSharpPlus.Commands/Converters/DoubleConverter.cs
  DSharpPlus.Commands/Converters/EnumArgumentConverter.cs
  DSharpPlus.Commands/Converters/FloatConverter.cs
  DSharpPlus.Commands/Converters/IArgumentConverter.cs
  DSharpPlus.Commands/Converters/Int16Converter.cs
  DSharpPlus.Commands/Converters/Int32Converter.cs
  DSharpPlus.Commands/Converters/Int64Converter.cs
  DSharpPlus.Commands/Converters/SByteConverter.cs
  DSharpPlus.Commands/Converters/StringConverter.cs
  DSharpPlus.Commands/Converters/TimeSpanConverter.cs
  DSharpPlus.Commands/Converters/UInt16Converter.cs
  DSharpPlus.Commands/Converters/UInt32Converter.cs
  DSharpPlus.Commands/Converters/UInt64Converter.cs
  DSharpPlus.Commands/Processors/SlashCommands/ISlashArgumentConverter.cs
  DSharpPlus.Commands/Processors/TextCommands/ITextArgumentConverter.cs
Labels: enhancement, commands

#1872 Update Microsoft.Extensions.Logging.Abstractions from 8.0.0 to 8.0.1
  Directory.Packages.props
Labels: core, dependencies

#1873 fix the note markdown
  docs/articles/commands/custom_context_checks.md
Labels: docs, commands

#1876 Add ChannelCache helper method and add channel caching to interaction…
  DSharpPlus/Clients/DiscordClient.Dispatch.cs
  DSharpPlus/Clients/DiscordClient.cs
Labels: enhancement, core

#1877 Hotfix for NRE when parsing UserApp created interactions
  DSharpPlus/Clients/DiscordClient.cs
Labels: bug, core

#1879 Add GatewayResumeUrl and use it when connecting to GW
  DSharpPlus/Clients/DiscordClient.Dispatch.cs
  DSharpPlus/Clients/DiscordClient.WebSocket.cs
  DSharpPlus/Net/Abstractions/ReadyPayload.cs
Labels: enhancement, core

#1880 parse the Errors property correctly
  DSharpPlus/Exceptions/BadRequestException.cs
Labels: bug, core

#1878 fixes a bug where an empty parameter list would not cause a command to execute with default values
  DSharpPlus.Commands/Converters/ConverterContext.cs
  DSharpPlus.Commands/Processors/BaseCommandProcessor/BaseCommandProcessor.cs
  DSharpPlus.Commands/Processors/SlashCommands/InteractionConverterContext.cs
  DSharpPlus/Entities/Interaction/DiscordInteractionDataOption.cs
Labels: bug, commands

#1882 [Commands] Improve slash command registered log message
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
  DSharpPlus.Commands/Processors/SlashCommands/SlashLogging.cs
  DSharpPlus.Commands/Trees/Command.cs
Labels: enhancement, commands

#1881 Rework GetChannel on DiscordGuild to dont only rely on cache
  DSharpPlus/Clients/DiscordClient.Dispatch.cs
  DSharpPlus/Clients/DiscordClient.cs
  DSharpPlus/Entities/Guild/DiscordGuild.cs
Labels: enhancement, core

#1883 [CNext] Check if command has atleast one parameter instead of has no parameter
  DSharpPlus.CommandsNext/CommandsNextUtilities.cs
Labels: bug, commands-next

#1888 report parameter check failures to the user by default
  DSharpPlus.Commands/CommandsExtension.cs
Labels: bug, commands

#1887 implements ChannelType on text commands using a parameter check
  DSharpPlus.Commands/ArgumentModifiers/ChannelTypesAttribute.cs
  DSharpPlus.Commands/CommandsExtension.cs
  DSharpPlus.Commands/Processors/SlashCommands/ArgumentModifiers/SlashChannelTypesAttribute.cs
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
  DSharpPlus.Commands/Processors/TextCommands/ContextChecks/TextChannelTypesCheck.cs
Labels: enhancement, commands

#1886 implement MinMaxValue on text commands using a parameter check
  DSharpPlus.Commands/ArgumentModifiers/MinMaxValueAttribute.cs
  DSharpPlus.Commands/CommandsExtension.cs
  DSharpPlus.Commands/Processors/SlashCommands/ArgumentModifiers/SlashMinMaxValueAttribute.cs
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
  DSharpPlus.Commands/Processors/TextCommands/ContextChecks/TextMinMaxValueCheck.cs
Labels: bug, enhancement, commands

#1891 [Commands] Add attribute to filter commands to certain processors
  DSharpPlus.Commands/CommandsExtension.cs
  DSharpPlus.Commands/Processors/MessageCommands/MessageCommandProcessor.cs
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
  DSharpPlus.Commands/Processors/TextCommands/TextCommandProcessor.cs
  DSharpPlus.Commands/Processors/UserCommands/UserCommandProcessor.cs
  DSharpPlus.Commands/Trees/Metadata/AllowedProcessorsAttribute.cs
Labels: enhancement, commands

#1892 Make inteaction message public and fix nullability annotations
  DSharpPlus/Entities/Interaction/DiscordInteraction.cs
Labels: enhancement, core

#1894 Change RestGuildMemberAddPayload to use the ids of the roles...
  DSharpPlus.Rest/DiscordRestClient.cs
  DSharpPlus/Entities/Guild/DiscordGuild.cs
  DSharpPlus/Net/Abstractions/Rest/RestGuildPayloads.cs
  DSharpPlus/Net/Rest/DiscordApiClient.cs
Labels: bug, enhancement, core

#1893 fix RequireNsfwCheck
  DSharpPlus.Commands/ContextChecks/RequireNsfwCheck.cs
Labels: bug, commands

#1902 Cache synthetic channel on messageCreated and add DiscordClient to synthetic channel in InteractionCreated
  DSharpPlus/Clients/DiscordClient.Dispatch.cs
  DSharpPlus/Clients/DiscordClient.cs
Labels: bug, core

#1903 fix #1900
  DSharpPlus.Commands/Processors/SlashCommands/InteractionConverterContext.cs
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
  DSharpPlus.Commands/Trees/CommandParameterBuilder.cs
  DSharpPlus.Commands/Trees/Metadata/SnakeCasedNameAttribute.cs
Labels: bug, commands

#1901 Improved the remarks for the ThreadMemberUpdated event
  DSharpPlus/Clients/DiscordClient.Events.cs
Labels: enhancement, core

#1898 makes the default logger suitable for DI
  DSharpPlus/Clients/BaseDiscordClient.cs
  DSharpPlus/Clients/DiscordShardedClient.cs
  DSharpPlus/Clients/DiscordWebhookClient.cs
  DSharpPlus/Logging/CompositeDefaultLogger.cs
  DSharpPlus/Logging/DefaultLogger.cs
  DSharpPlus/Logging/DefaultLoggerFactory.cs
  DSharpPlus/Logging/DefaultLoggerProvider.cs
Labels: enhancement, core

#1904 use the snake-cased name to filter for autocomplete parameters
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
Labels: bug, commands

#1905 fix argument converters for test commands
  DSharpPlus.Commands/Processors/BaseCommandProcessor/BaseCommandProcessor.cs
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
  DSharpPlus.Commands/Processors/TextCommands/TextCommandProcessor.cs
Labels: bug, commands

#1907 Channeltype Groupe is also a DiscordDmChannel
  DSharpPlus/Net/Serialization/DiscordForumChannelJsonConverter.cs
Labels: bug, core

#1906 Replace DiscordShardedClient with regular one in Commands documentation
  docs/articles/commands/introduction.md
Labels: docs, commands

#1911 fix: Make mapping dictionary static
  DSharpPlus.Commands/Processors/SlashCommands/SlashCommandProcessor.cs
Labels: bug, commands

#1912 improve slash command (option) name error logging
  DSharpPlus/Entities/Interaction/Application/DiscordApplicationCommand.cs
  DSharpPlus/Entities/Interaction/Application/DiscordApplicationCommandOption.cs
Labels: enhancement, core

#1913 Ensure context menus have at least one parameter
  DSharpPlus.Commands/Processors/MessageCommands/MessageCommandProcessor.cs
  DSharpPlus.Commands/Processors/UserCommands/UserCommandProcessor.cs
Labels: bug, commands

#1916 Guilds also have archived threads
  DSharpPlus/Entities/Channel/DiscordChannel.cs
Labels: bug, core

#1918 Move DM methods from DiscordMember to DiscordUser
  DSharpPlus/Entities/Guild/DiscordMember.cs
  DSharpPlus/Entities/User/DiscordUser.cs
Labels: enhancement, core

#1919 Fix DmChannel cache access
  DSharpPlus/Entities/User/DiscordUser.cs
Labels: bug, core
