Repository DSharpPlus/DSharpPlus, pull requests merged in 2025-02, with the labels that each got.

#2241 Add flags to DiscordMember
  DSharpPlus.Rest/DiscordRestClient.cs
  DSharpPlus/Entities/Channel/DiscordChannel.cs
  DSharpPlus/Entities/Guild/DiscordMember.cs
  DSharpPlus/Entities/Guild/DiscordMemberFlags.cs
  DSharpPlus/Net/Abstractions/Rest/RestGuildPayloads.cs
  DSharpPlus/Net/Abstractions/Transport/TransportMember.cs
  DSharpPlus/Net/Models/MemberEditModel.cs
  DSharpPlus/Net/Rest/DiscordApiClient.cs
Labels: enhancement, core

#2237 `DiscordAttachmentConverter`: Fix `OutOfBoundsException`
  DSharpPlus.Commands/Converters/DiscordAttachmentConverter.cs
Labels: bugfix, commands

#2244 Automatically determine if paginated response have to be an edit
  DSharpPlus.Interactivity/Extensions/InteractionExtensions.cs
  DSharpPlus.Interactivity/InteractivityExtension.cs
Labels: enhancement, interactivity

#2246 Removed unused variable
  DSharpPlus/Entities/Channel/DiscordChannel.cs
Labels: enhancement, core

#2248 fix ratelimit state corruption and a race in first-request handling
  DSharpPlus/Net/Rest/RateLimitBucket.cs
  DSharpPlus/Net/Rest/RateLimitStrategy.cs
  DSharpPlus/Net/Rest/RestClientOptions.cs
Labels: bugfix, core, ratelimits
